<!DOCTYPE html>
<head>
  <script>
    window.onload = async function() {
      let clients = await fetch('<%- env.apiUrl %>/clients').then(res=>res.json())
      let clientList = document.getElementById("clients")

      clients.forEach(e => {
        let item = document.createElement("dd")
        let link = document.createElement("a")
        let linkText = document.createTextNode(`- ${e.name}`)

        link.setAttribute("href", `<%- env.url %>/clientProfile/${e.id}`)
        link.appendChild(linkText)
        item.appendChild(link)
        clientList.appendChild(item)
      })  
    }

    function addClient() {
      let input = document.getElementById("clientName").value
      fetch("<%- env.apiUrl %>/clients", { 
        method: 'POST',  
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ name: input })
      })      
    }
  </script>
</head>
<body>
  <a href="<%- env.url %>/">Employees</a>
  <div></div>

  <form>
    <label for="clientName">Client Name: </label>
    <input type="text" id="clientName" name="clientName"><br>
    <button onclick="addClient()">Add New Client</button>
  </form>
  
  <dl id="clients">
    <dt>Clients:</dt>
  </dl>
</body>