<!DOCTYPE html>
<head>
  <script>
    window.onload = async () => {
      await fetch('http://localhost:8080/contracts/<%- id %>')
          .then(res=>res.json())
          .then(data=>{
            let client = data
            let name = document.getElementById("name")
            let dates = document.getElementById("dates")
            let type = document.getElementById("type")
            let tech = document.getElementById("tech")

            name.appendChild(document.createTextNode(`${client.name}`))
            dates.appendChild(document.createTextNode(`${client.startDate} - ${client.endDate}`))
            type.appendChild(document.createTextNode(`${client.type}`))

            
            client.tech.forEach(e=>{
              let item = document.createElement("dd")
              item.innerText = `- ${e}`
              tech.appendChild(item)
            })
          })

      await fetch('http://localhost:8080/employees')
            .then(res=>res.json())
            .then(data=>{
              console.log(data)
              let roster = document.getElementById("roster")
              let engineers = data.filter(e => {
                return e.history.filter(contract=> contract.id == "<%- id %>").length > 0
              })

              console.log(engineers)

              engineers.forEach(e => {
                let item = document.createElement("dd")
                item.innerText = `- ${e.name}`
                roster.appendChild(item)
              })
            })
    }
  </script>
</head>
<body>
  <a href="http://localhost:8080/">home</a>
  <h1 id="name"></h1>
  Dates: <div id="dates"></div>
  <br>
  Contract Type: <div id="type"></div>
  <dl id="tech">
    <dt>Stack:</dt>
  </dl>
  <dl id="roster">
    <dt>Engineers:</dt>
  </dl>
</body>