<!DOCTYPE html>
<head>
  <style>
    table, td {
      border: 1px solid black;
    }
  </style>
  <script>
    window.onload = async () => {
      console.log("<%- env.url %>")
      fetch('<%- env.url %>/employees')
        .then(res=>res.json())
        .then(data => {
          let employees = data
          var table = document.getElementById("tableBody")
          employees.forEach(e => {
            console.log (`appending ${e.name}`)
            console.log(e)
            let row = table.insertRow(-1)
            let name = row.insertCell(0)
            let contract = row.insertCell(1)

            let nameLink = document.createElement("a")
            let linkText = document.createTextNode(`${e.name}`)

            nameLink.setAttribute("href", `<%- env.url %>/profile/${e.id}`)
            nameLink.appendChild(linkText)
            name.appendChild(nameLink)

            if(e.active == true) {
              let contractLink = document.createElement("a")
              let contractLinkText = document.createTextNode(`${e.history[0].name}`)

              contractLink.setAttribute("href", `<%- env.url %>/client/${e.history[0].id}`)
              contractLink.appendChild(contractLinkText)
              contract.appendChild(contractLink)
            } else {
              contract.innerHTML = "none" 
            }
          })
        })
    }
  </script>
</head>
<body>
  <table id="employeeTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Contract</th>
      </tr>
    </thead>
    <tbody id="tableBody"></tbody>
  </table>
</body>