<!DOCTYPE html>
<head>
  <script>
    window.onload = () => {
      fetch('http://localhost:8080/employees/<%- id %>')
          .then(res=>res.json())
          .then(data=>{
            let user = data
            let name = document.getElementById("user")
            let history = document.getElementById("history")
            let github = document.getElementById("github")

            name.appendChild(document.createTextNode(`${user.name}`))

            github.setAttribute("href", `https://github.com/${user.github}`)
            github.appendChild(document.createTextNode(`${user.github}`))
            
            user.history.forEach(e=>{
              console.log(e)
              let item = document.createElement("dd")
              let link = document.createElement("a")
              let linkText = document.createTextNode(`- ${e.name}`)

              link.setAttribute("href", `http://localhost:8080/client/${e.id}`)
              link.appendChild(linkText)

              item.appendChild(link)
              history.appendChild(item)
            })
          })
      console.log("<%- id %>")
    }
  </script>
</head>
<body>
  <h1 id="user"></h1>
  github: <a id="github"></a>
  <br>
  <dl id="history">
    <dt>History:</dt>
  </dl>
</body>